*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  scroll-behavior: smooth;
}

*{
  outline: 1px solid re;
}

.html, .body{
  margin: 0;
  height: 100%; 
}

@font-face{
  src:url('Fontes/Helvetica Neue Condensed Bold.ttf');
  font-family: "HNCB";
}

.center {
  max-width:1280px;
  width: 100%;
  height:auto;
  margin:0 auto;
} 

.header{
  width:100%;
  padding: 0 2%;
  height: 60px;
  background-color: #e9e4db;
  display:flex;
  flex-wrap: wrap;
  align-items: center;

}
.nav{
  width:60%;
  float: left;
  display:flex;
}
.nav a{
  width:100%;
  font-size:35px;
  letter-spacing: 1px;
  text-decoration:none;
  color: #000000;
  display: inline-block;
  font-weight:bold;
  font-family: "HNCB";
}

.header img{
  width: 120px;
  margin:1px;
  margin-left:0px;
}



.container-banner{
  width: 100%;
  padding: 0 2%;
  height: 1000px;
  display: block;
  background-image:url('Imagens/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  backgroung-position: center;
}

.container-banner > .center{
  height: 100%;
}

.form{
  margin-left: auto ;
  margin-top:15px;
  padding: 10px;
  width:100%;
  max-width: 500px;
  height: 100%;
  max-height:650px;
  float: left;
  position: relative;
  top: -15px;
  border: 8px solid rgb(155, 155, 155,0.5);
  background-color: rgb(48, 47, 47);
  background-clip: padding-box;
  font-family: "HNCB";
}

.form h2{
  font-weight: normal;
  color: #999999;
  font-size: 21px;
}

.input-container{
  margin-top:20px;
  
}

.input-container span, form p{
  display: inline-block;
  width: 100%;
  color: #BBBBBB;
  font-size: 17px;
}

.form p{
  margin: 20px 0;
  display: inline-block;
  width: 100%;
  color: #BBBBBB;
  font-size: 17px;
  margin: 70px 0;
}

.input-container input[type=text]{
  border-radius: 10px;
  margin-top: 3%;
  width: 100%;
  height: 55px;

  border: 1px solid #CCC;
}

.input-container input [type = button]{
  color: white;
  font-size: 25px;
  width: 280px;
  height: 56px;
  background-color: #363A6D;
}

.input-submit-container {
  text-align: center;
}

.form input[type = button ]{
  border:0px;
  color: white;
  font-size: 25px;
  width: 280px;
  height: 56px;
  display: inline-block;
  background-color: #212228;
  border-top:0;
  font-family: 'HNCB';
  border-right:0;
  border-bottom: 5px solid rgb(215, 216, 221,0.1);
  border-left: 0;
  cursor: pointer;

}

.form input[type = button]:hover{
  backgroung-color: #323767;
}

.container-list{
  padding-left: 50px;
  padding-top: 10px;
  padding-right:20px;
  margin-top: 100px;
    float: left;
    width: 5189px;
    height: 290px;
    background-color: rgb(40, 37, 37,0.7);
}

.container-list ul{
  list-style-position:inside;
}

.container-list ul li{
margin-top: 18px;
color: white;
}

.container-2{

  padding:90px 0;
  background-color: #fefae0;
  text-align: center;
  margin-bottom: 0px;
}

.container-2 h3{
  font-weight: normal;
  font-size: 35px;
}

.container-2 p{
  width: 698px;
  margin: 15px 0;
  display: flex;
  text-align: justify;
}

.container-2 h1 {
  font-size: 150px;
}

.container-section-tour{
  flex-direction:column;
  margin-left: 0px;
  margin-top: 30px;
  color: #171616;
  width:100%;
  max-width:100%;
  padding: 0 2%;
  font-family: 'HNCB';
  display: flex;
  gap: 30px;
  text-align: justify;
  justify-content: space-between;
  align-items: center;
}

.dates, .dates1, .dates2, .dates3, .dates4, .dates5, .dates6  {
  max-width: 1500px;
  text-align: center;
  font-size: 45px;
  margin-top: 0px;
  display: block;
   width:100%;

}

.dates h1, .dates1 h1{
  margin-top:20px;
}

.dates li, .dates1 li, .dates2 li, .dates3 li, .dates4 li, .dates5 li, .dates6 li{
    color: #333;
  width:100%;
  margin-top: 70px;
  font-size: 46px;
  display: block;
  text-align:center;

}

.pointer{
  cursor: pointer;
  color: #432818;
}
.pointer:hover{
  cursor: pointer;
  color:#fefae0;
  border: 2px solid #432818;
  background-color: #432818;
}

.section-1{
  width:100%;
  text-align:center;
  padding: 0px 2%;
  background-color: #432818;
}

.section-1 h1{
  padding: 0 2%;
  text-align: center;
  color: #ffe6a7;
  font-weight:bold;
  font-size: 200px;
  font-family: 'HNCB';
}

.container-section, .container-section2, .container-section3{
  display: flex;
  justify-content: center;
  gap:20px;
  margin-top:0px;
  width:100%;
  color: #ffe6a7;
  font-family: 'HNCB';
}

.container-section, .container-section2, .container-section3{
  text-align:center;
}

.container-single{
  margin-top:20px;
  text-align:center;
  display: inline-block;
  margin-right: 0px;
  width: 33.33%;
  padding: 30px;
  font-size: 30px;
  font-color:#ffe6a7;
}

.container-single p{
  display-align: inline-block;
  text-align: justify;
  padding:10px 25px;
  font-size: 0px;
  font-family: none;
}

.container-single img{
  width: 70%;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.8);
  border-radius: 8px;
}

.container-single img:hover{
  cursor: pointer;
}

.footer{
  margin-top: 0px;
  text-align:center;
  border-top: 4px solid #432818;
  height:auto;
  padding: 1%;
  background-color: #1f120b;

}

.footer p{
  color: #faedcd;
  clear:both;
}

.footer a{
  text-decoration:none;
  color: #faedcd;

}

@media screen and (max-width: 1024px){
  .header{
  width:100%;
  padding: 1px 0;
  height: auto;
  text-align:center;
  gap:40px;

  }
  .nav{
  
}
  
  .nav a{
  width:100%;
  font-size:25px;
  gap: 10px;

}

.container-banner{
  width: 100%;
  padding: 0px 2%;
  height: auto;
  text-align: center;
  background-size:cover;
}

.form{
  margin: 0 auto;
  padding: 10px;
  width:90%;
  max-width: 400px;
  height: auto;
  max-height:475px;
  display:block;
  top:0;
  float: none;

}

.form p{
  margin: 8px auto;
  display: inline-block;
  width: 100%;
  color: #BBBBBB;
  font-size: 17px;
}

.input-container input[type=text]{
  margin-top: 8px;
  width: 100%;
  max-width:280px;
  height: 45px;
}

.container-2 h1 {
  font-size: 80px;
}

.container-section-tour{
  flex-direction:column;
  margin-left: 0px;
  margin-top: 70px;
  color: #171616;
  width:100%;
  max-width:100%;
  padding: 0 2%;
  font-family: 'HNCB';
  display: flex;
  gap: 30px;
  text-align: justify;
  justify-content: space-between;
  align-items: center;
}

.dates, .dates1, .dates2, .dates3, .dates4, .dates5, .dates6  {
  max-width: 1500px;
  text-align: center;
  font-size: 45px;
  margin-top: 0px;
  display: block;
   width:100%;

}

.dates h1, .dates1 h1{
  margin-top:20px;
}

.dates li, .dates1 li, .dates2 li, .dates3 li, .dates4 li, .dates5 li, .dates6 li{
    color: #333;
  width:100%;
  margin-top: 70px;
  font-size: 46px;
  display: block;
  text-align:center;

}

.container-section, .container-section2, .container-section3{
  flex-direction:column;
}

.section-1 h1{
  padding: 0 2%;
  text-align: center;
  color: #ffe6a7;
  font-weight:bold;
  font-size: 150px;
  font-family: 'HNCB';
}

.container-single{
  margin-top:20px;
  text-align:center;
  display: inline-block;
  margin-right: 0px;
  width: 100%;
  padding: 30px;
  font-size: 35px;
  font-color:#ffe6a7;
}

}


@media screen and (max-width: 580px){
  .header{
  width:100%;
  padding: 1px 0;
  height: auto;
  text-align:center;
  gap:0px;
}

  .nav{
  text-align:center;
  margin: auto;
}
  
  .nav a{
  width:100%;
  font-size:20px;
  gap: 0px;

}

.container-banner{
  width: 100%;
  padding: 0px 2%;
  height: auto;
  text-align: center;
  background-size:cover;
}

.form{
  margin: 0 auto;
  padding: 10px;
  width:90%;
  max-width: 400px;
  height: 100%;
  display:block;
  top:0;
  float: none;

}

.form p{
  margin: 8px auto;
  display: inline-block;
  width: 100%;
  color: #BBBBBB;
  font-size: 17px;
}

.input-container input[type=text]{
  margin-top: 8px;
  width: 100%;
  max-width:280px;
  height: 45px;
}

.container-2 h1 {
  font-size: 50px;
}

.container-section, .container-section2, .container-section3{
  flex-direction:column;
}

.section-1 h1{
  margin-top: auto;
  font-size:100px;
}

.footer{
  height:auto;
  padding: 5%;
}

.footer p{
  margin-top:auto;
}
}

@media screen and (max-width: 412px){
  .header{
  width:100%;
  padding: 1px 0;
  height: auto;
  text-align:center;
  gap:0px;
  }

  .nav{
  text-align:center;
  margin: auto;
}
  
  .nav a{
  width:100%;
  font-size:20px;
  gap: 0px;

}

.container-banner{
  width: 100%;
  padding: 0px 2%;
  height: auto;
  text-align: center;
  background-size:cover;
}

.form{
  margin: 0 auto;
  padding: 10px;
  width:90%;
  max-width: 400px;
  height: 100%;
  display:block;
  top:0;
  float: none;
}

.form p{
  margin: 8px auto;
  display: inline-block;
  width: 100%;
  color: #BBBBBB;
  font-size: 17px;
}

.input-container input[type=text]{
  margin-top: 8px;
  width: 100%;
  max-width:280px;
  height: 45px;
}

.container-2 h1 {
  font-size: 50px;
}

.container-section, .container-section2, .container-section3{
  flex-direction:column;
}

.section-1 h1{
  margin-top: auto;
  font-size:100px;
}


.footer{
  height:auto;
  padding: 5%;
}

.footer p{
  margin-top:auto;
}
}

@media screen and (max-width: 360px){
  .header{
  width:100%;
  padding: 1px 0;
  height: auto;
  text-align:center;
}

  .nav{
    width:100%;
  text-align: center;
  margin: auto;
}
  
  .nav a{
  width:100%;
  font-size:20px;
}

.container-banner{
  width: 100%;
  padding: 0px 2%;
  height: auto;
  text-align: center;
  background-size:cover;
}

.form{
  margin: 0 auto;
  padding: 10px;
  width:90%;
  max-width: 400px;
  height: 100%;
  display:block;
  top:0;
  float: none;

}

.form p{
  margin: 8px auto;
  display: inline-block;
  width: 100%;
  color: #BBBBBB;
  font-size: 17px;
}

.input-container input[type=text]{
  margin-top: 8px;
  width: 100%;
  max-width:280px;
  height: 45px;
}

.dates h1, .dates1 h1{
  font-size: 2px;
}
.container-2 h1 {
  font-size: 50px;
}

.container-section, .container-section2, .container-section3{
  flex-direction:column;
}

.container-single{
  padding: 7px;
}

.section-1 h1{
  margin-top: auto;
  font-size:70px;
}

.footer{
  height:auto;
  padding: 5%;
}

.footer p{
  margin-top:auto;
}
}
